<div class="container-fluid mt-5">
  <div *ngIf="(basket$|async) === null">
    <h4>There are no items in your basket!</h4>
  </div>
  <div *ngIf="basket$ | async as basket">


    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 py-2 mb-1">
          <app-basket-sumary 
          (decrement)="decrementItemQuantity($event)"
          (increment)="incrementItemQuantity($event)"
          (remove)="removeBasketItem($event)"          
          ></app-basket-sumary>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-12 ml-auto">
          <app-order-total></app-order-total>
          <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block ">Procced to checkout</a>
        </div>
      </div>
    </div>

  </div>
</div>
