<div class="d-flex justify-content-center mt-5">
  <div class="col-md-3 col-sm-12">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      </div>
      <div>
        <app-text-input formControlName="email" [label]="'Email'"></app-text-input>
        <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>
      </div>
      <button [disabled]="loginForm.invalid" class="btn btn-primary btn-block my-3" type="submit">Login</button>
    </form>
  </div>
</div>
