<div class="mt-4 card p-3" [formGroup]="checkoutForm">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4>Shipping Address</h4>
    <br>
    <input type="checkbox" class="custom-control-input " id="1" (click)="PaymentAndDeliveryAreSame()">
    <label for="1" class="custom-control-label">
      <span>
        My payment and delivery address are not the same
      </span>
    </label>
  </div>
  <div class="row" formGroupName="addressForm">

    <div class="form-group col-md-6 col-sm-12">
      <app-text-input formControlName="firstName" [label]="'First Name'"></app-text-input>
    </div>
    <div class="form-group col-md-6 col-sm-12">
      <app-text-input formControlName="lastName" [label]="'Last Name'"></app-text-input>
    </div>
    <div class="form-group col-md-3 col-sm-12">
      <label for="zipcode">Zip Code</label>
      <input type="text" class="form-control" formControlName="zipCode" id="zipcode"
        (blur)="getAddresViaCep($event.target.value)">
    </div>
    <div class="form-group col-md-6 col-sm-12">
      <app-text-input formControlName="street" [label]="'Street'"></app-text-input>
    </div>
    <div class="form-group col-md-3 col-sm-12">
      <app-text-input formControlName="number" [label]="'Number'"></app-text-input>
    </div>
    <div class="form-group col-md-6 col-sm-12">
      <app-text-input formControlName="district" [label]="'District'"></app-text-input>
    </div>
    <div class="form-group col-md-6 col-sm-12">
      <app-text-input formControlName="complement" [label]="'Complement'"></app-text-input>
    </div>
    <div class="form-group col-md-5 col-sm-12">
      <app-text-input formControlName="city" [label]="'City'"></app-text-input>
    </div>
    <div class="form-group col-md-2 col-sm-12">
      <app-text-input formControlName="state" [label]="'State'"></app-text-input>
    </div>
    <div class="form-group col-md-4 col-sm-12 mt-4 ml-auto">
      <button class="btn btn-primary btn-sm btn-block form-control mt-2" *ngIf="isSame" [disabled]="checkoutForm.get('addressForm').invalid"
      (click)="saveUserAddress()">
      Save as default address
    </button>
    </div>
  </div>
</div>
